<!DOCTYPE html>
<html>
<head>
  <title>Catcontacts</title>
  <%= stylesheet_link_tag    "catcontacts/application", media: "all" %>
  <%= javascript_include_tag "catcontacts/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
